<!-- TO DO
- changer la photo de l'api Google maps
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PictureInTheBox</title>
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../public/stylesheets/blueimp-gallery.min.css">
    <link rel="stylesheet" href="../public/stylesheets/blueimp-gallery-indicator.css">

</head>
<body>

	<header class="top-header">
		<div class="bs-example">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle for mobile display -->
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Picture In The Box</a>
					</div>
					<!-- Content of the navbar -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<form class="form navbar-form" id="formLogin">
									<input type="text" class="form-control" name="email" placeholder="Email">
									<input type="password" class="form-control" name="password" placeholder="Password">
									<input type="hidden" name="grant_type" value="password">
									<input type="hidden" name="client_id" value="webClient">
									<input type="hidden" name="client_secret" value="secret">
									<button class="btn btn-default" type="submit">Connexion</button>
								</form>
							</li>
							<li class="dropdown">
								<button class="btn btn-default dropdown-toggle" href="#" data-toggle="dropdown" id="buttonInscrip">Inscription <b class="caret"></b></button>
								<ul class="dropdown-menu" style="padding: 17px;">
									<li>
										<form class="form" id="formInscription">
											<input class="form-control" type="text" name="email" placeholder="Email"/>
											<input class="form-control" type="password" name="password" placeholder="Password"/>
											<button class="btn btn-primary" type="submit">Inscription</button>
										</form>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div> <!-- container -->
			</nav>
		</div>
	</header>

	<!-- service section starts here -->
	<section class="service text-center" id="service">
		<div class="container">
			<div class="row">
				<div class="header-backup"></div>
				<div id="responseInscription"></div>
				<br/>
				<h2>Gallerie d'Image</h2>
				<!-- The container for the list of example images -->
				<div id="links"></div>

				<div id="blueimp-gallery" class="blueimp-gallery">
					<!-- The container for the modal slides -->
					<div class="slides"></div>
					<!-- Controls for the borderless lightbox -->
					<h3 class="title"></h3>
					<a class="prev">‹</a>
					<a class="next">›</a>
					<a class="close">×</a>
					<a class="play-pause"></a>
					<ol class="indicator"></ol>
				</div>
			</div>
		</div>
	</section><!-- end of service section -->

	<!-- contact section starts here -->
	<section class="api-map" id="contact">
		<div class="container">
			<div class="row">
				<div class="contact-caption clearfix">
					<div class="contact-heading text-center">
						<h2>Contact</h2>
					</div>

					<div class="col-md-5 contact-info text-left">
						<h3>Informations</h3>
						<div class="info-detail">
							<ul><li><i class="fa fa-calendar"></i><span>Mardi - Mardi :</span> 18:30 à 18:31</li></ul>
							<ul><li><i class="fa fa-map-marker"></i>25 Rue Dr Rémy Annino, 42000 Saint-Étienne</li></ul>
							<ul><li><i class="fa fa-phone"></i>04 77 91 58 88</li></ul>
							<ul><li><i class="fa fa-envelope"></i>contact@pictureinthebox.com</li></ul>
						</div>
					</div>

					<div class="col-md-6 col-md-offset-1 contact-form">
						<h3>Laissez nous votre message</h3>

						<form class="form">
							<input class="form-control name" type="text" placeholder="Nom">
							<input class="form-control email" type="email" placeholder="Email">
							<input class="form-control phone" type="text" placeholder="Téléphone">
							<textarea class="form-control message" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
							<input class="submit-btn" type="submit" value="ENVOYER">
						</form>
					</div>

				</div>
			</div>
		</div>
	</section><!-- end of contact section -->


	<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 footer-para">
					<p>&copy; TELECOM Saint-Etienne All right reserved</p>
				</div>

				<div class="col-xs-6 text-right">
					<a href="https://www.facebook.com/telecomsaintetienne/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/TelecomStE" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/edu/school?id=21197&trk=edu-cp-title"><i class="fa fa-linkedin"></i></a>
					<a href="https://www.google.fr/maps/place/T%C3%A9l%C3%A9com+Saint-%C3%89tienne/@45.4523179,4.3870443,18.08z/data=!4m2!3m1!1s0x47f5a97270997f73:0xc8d67b5196a79919?hl=fr" target="_blank"><i class="fa fa-map-marker"></i></a>
				</div>
			</div>
		</div>
	</footer>


	<!-- script tags -->
	<script src="../public/js/jquery-2.1.1.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Blueimp Gallery-->
	<script src="../public/js/jquery.blueimp-gallery.min.js"></script> <!-- important-->
	<script src="../public/js/blueimp-gallery.js"></script> <!-- important-->
    <script src="../public/js/blueimp-gallery-indicator.js"></script> <!--fonctionnalité pour l'affichage des miniature en bas-->
    <script src="../public/js/jquery.blueimp-gallery.js"></script> <!-- important-->
    <script src="../public/js/demo.js"></script> <!-- Permet l'affichage des photos à partir de l'api flickr -->

	<!-- Nos javascript -->
	<script src="../public/js/connexion.js"></script>
	<script type="application/javascript">
		$(document).ready(function () {

			// Post pour s'inscrire
			$("#formInscription").submit(function (event) {
				event.preventDefault();
				$.ajax({
					type: "POST",
					url: "/signup",
					data: $("#formInscription").serialize(),
					dataType: "json",
					encode: true,
					success: function (data) {
						$("#responseInscription").text("Connection réussie pour " + data.email);
					},
					error: function (data) {
						$("#responseInscription").text(data.responseText);
					}
				})
			});

			//Post pour se connecter
			$("#formLogin").submit(function (event) {
				event.preventDefault();
				$.ajax({
					type: "POST",
					url: "/authenticate",
					data: $("#formLogin").serialize(),
					dataType: "json",
					async: false,
					success: function(data){
						window.location="/a";
					},
					error: function(data) {
						alert("Votre mot de passe ou votre email est incorrect.");
					}
				})
			});
		});
	</script>

	<!--Permet d'animer l'affichage des boutons -->
    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
</body>
</html>