<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PictureInTheBox</title>
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

	<link href="../public/stylesheets/styleExplorateur.css" rel="stylesheet"/>

</head>
<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1" id="test">
					<h1>Explorateur de fichiers</h1>
				</div>
			</div>
		</div>
	</section><!-- end of gallery section -->

	<section>
		<div class="container">
			
			<div class="row" id="addBtn">
				<button id="addButton" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			</div>
		
			<div class="row">
				<div id="explorateur" class="col-md-10 col-md-offset-1" >

					<div id="58594561" class="col-md-2 dropzone draggable drag-drop yes-drop">
						<a href="onvera.com">
							<i class="fa fa-folder fa-lg"></i><br/>
							texte trop bien
						</a>
					</div>

					<div id="4343478" class="col-md-2 dropzone draggable drag-drop yes-drop">
						<a href="onvera.com">
							<i class="fa fa-folder fa-lg"></i><br/>
							texte trop bien 2 !
						</a>
					</div>
					
					<div id="sdvsdv353" class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>


					<div id="65165616" class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 draggable drag-drop yes-drop">
						<a href="onvera.com" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>


					
				</div>
			</div>
			
			
			<div class="row" id="proprietes">
				<div class="col-md-10 col-md-offset-1" >
					<h3>Propriétés du dossier : </h3>
					<form class="form-horizontal">
						<fieldset>
						  <!-- Text input-->
						  <div class="form-group">
							<label class="col-md-4 control-label" for="iauteur">Titre :</label>
							<div class="col-md-4">
							  <input id="iauteur" name="fauteur" placeholder="Titre" class="form-control input-md" type="text">
							</div>
						  </div>

						  <!-- Textarea -->
						  <div class="form-group">
							<label class="col-md-4 control-label" for="idescription">Description :</label>
							<div class="col-md-4">
							  <textarea id="idescription" class="form-control" name="fdescription" placeholder="Ajoutez votre description"></textarea>
							</div>
						  </div>
						  
						  <!-- Textarea -->
						  <div class="form-group">
							<label class="col-md-4 control-label" for="idescription">Partager avec :</label>
							<div class="col-md-4">
							  <textarea id="idescription" class="form-control" name="fdescription" placeholder="Faudra modifier ici le délire"></textarea>
							</div>
						  </div>
						  
						  <!-- Text input-->
						  <div class="form-group">
							<label class="col-md-4 control-label" for="ititre">Visibilité :</label>
							<div class="col-md-4">
								<input checked data-toggle="toggle" data-on="Public" data-off="Privé" data-onstyle="success" data-offstyle="danger" type="checkbox">
							</div>
						  </div>

						  <INPUT VALUE="Sauvegarder" TYPE="SUBMIT" class="btn btn-success">

						</fieldset>
					</form>
				</div>
			</div>




			<div id="no-drop" class="draggable drag-drop"> #no-drop </div>

			<div id="yes-drop" class="draggable drag-drop"> #yes-drop </div>

			<div id="outer-dropzone" class="dropzone">
				#outer-dropzone
				<div id="inner-dropzone" class="draggable drag-drop dropzone">#inner-dropzone</div>
			</div>



		</div>
	</section><!-- end of gallery section -->
	
		

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 footer-para">
                    <p>&copy;TELECOM Saint-Etienne All right reserved</p>
                </div>

                <div class="col-xs-6 text-right">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </footer>
	

	<!-- script tags
	============================================================= -->
	
	<script src="../public/js/smoothscroll.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script src="../public/js/custom.js"></script>
	
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

	<script src="../public/js/interact.min.js"></script>
	<script src="../public/js/dragAndDrop.js"></script>

	
</body>
</html>