<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PictureInTheBox</title>
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

	<link href="../public/stylesheets/styleExplorateur.css" rel="stylesheet"/>
	<link href="../public/stylesheets/style.css" rel="stylesheet"/>

	<link rel="stylesheet" href="../public/stylesheets/blueimp-gallery.min.css">
	<link rel="stylesheet" href="../public/stylesheets/blueimp-gallery-indicator.css">

</head>
<body>
	<header class="top-header" style="position: static">
		<div class="bs-example">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle for mobile display -->
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Picture In The Box</a>
					</div>
					<!-- Content of the navbar -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<button class="btn btn-default" type="submit" id="buttonDeco">Déconnexion</button>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div> <!-- container -->
			</nav>
		</div>
	</header>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1" id="test">
					<h1>Explorateur de fichiers</h1>
				</div>
			</div>
		</div>
	</section><!-- end of gallery section -->

	<section>
		<div class="container" id="affichageImage">
			<div class="row" id="addBtn">
				<button id="addButton" type="button" class="btn btn-default" style="font-size:15px"><i class="fa fa-plus" aria-hidden="true"></i>Nouveau dossier</button>

				<ol id="breadcrumb" class="breadcrumb">
					<li id="id1"><a href="#" class="breadcrumbLink">Home</a>
					</li>
					<li id="id2"><a href="#" class="breadcrumbLink">Library</a>
					</li>
					<li id="id3" class="active">Library</li>
				</ol>
			</div>

			<div class="row">
				<div id="explorateur" class="col-md-8" >
					<div id="58594561" class="col-md-2 album dropzone draggable drag-drop yes-drop">
						<a href="#">
							<i class="fa fa-folder fa-lg"></i><br/>
							texte trop bien
						</a>
					</div>
					<div id="4343478" class="col-md-2 album dropzone draggable drag-drop yes-drop">
						<a href="#">
							<i class="fa fa-folder fa-lg"></i><br/>
							texte trop bien 2 !
						</a>
					</div>
					<div id="sdvsdv353" class="col-md-2 draggable drag-drop yes-drop">
						<a href="../public/img/a.jpg" data-gallery ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>



					<div id="65165616" class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="../public/img/a.jpg" data-gallery ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="../public/img/a.jpg" data-gallery ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="../public/img/a.jpg" data-gallery ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#" data-gallery class=" photo" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#" data-gallery  class=" photo"><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#" class=" photo" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#"  class=" photo"><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#" class=" photo" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#"  class=" photo"><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#" class=" photo" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#"  class=" photo"><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#" class=" photo" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#"  class=" photo"><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#" class=" photo" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#"  class=" photo"><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#" class=" photo" ><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
					<div class="col-md-2 photo draggable drag-drop yes-drop">
						<a href="#"  class=" photo"><img src="../public/img/a.jpg" class="img-responsive"/></a>
					</div>
				</div>

				<div id="parametresDossier" class="col-md-4" >
					<h3>Propriétés du dossier : </h3>

					<form class="form-horizontal">
						<fieldset>
							<!-- Text input-->
							<div class="form-group">
								<label class="control-label" for="iauteur">Titre :</label>
								<div class="col-md-10 col-md-offset-1 ">
									<input id="iauteur" name="fauteur" placeholder="Titre" class="form-control input-md" type="text">
								</div>
							</div>

							<!-- Textarea -->
							<div class="form-group">
								<label class="control-label" for="idescription">Description :</label>
								<div class="col-md-10 col-md-offset-1 ">
									<textarea id="idescription" class="form-control" name="fdescription" placeholder="Ajoutez votre description"></textarea>
								</div>
							</div>

							<!-- Textarea -->
							<div class="form-group">
								<label class="control-label" for="ipartage">Partager avec :</label>
								<div class="col-md-10 col-md-offset-1 ">
									<textarea id="ipartage" class="form-control" name="fdescription" placeholder="Faudra modifier ici le délire"></textarea>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="control-label" for="ivisibilite">Visibilité :</label>
								<div class="col-md-10 col-md-offset-1 ">
									<input id="ivisibilite" checked data-toggle="toggle" data-on="Public" data-off="Privé" data-onstyle="success" data-offstyle="danger" type="checkbox">
								</div>
							</div>

							<INPUT VALUE="Sauvegarder" TYPE="SUBMIT" class="btn btn-success">

						</fieldset>
					</form>
				</div>
			</div>

			<!--
			<form action="http://localhost:3000/upload?access_token=8f27973fcbacd0be01a2849dbaf1e24d2f9ba73d4cd1437d2435d4b970ff4acf"
				  method="post" enctype="multipart/form-data">
				<input type="hidden" name="album" value="56ae2ae81bfd099c5fb35257">
				<input type="text" name="tags"/>
				<input type="file" name="files[]" />
				<input type="submit"/>
			</form>
			-->


			<!-- service section starts here -->
			<section class="service text-center" id="service">
				<div class="container">
					<div class="row">
						<!-- The container for the list of example images -->
						<div id="links"></div>
						<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
						<div id="blueimp-gallery" class="blueimp-gallery">
							<!-- The container for the modal slides -->
							<div class="slides"></div>
							<!-- Controls for the borderless lightbox -->
							<h3 class="title"></h3>
							<a class="prev">‹</a>
							<a class="next">›</a>
							<a class="close">×</a>
							<a class="play-pause"></a>
							<ol class="indicator"></ol>
						</div>
					</div>
				</div>
			</section><!-- end of service section -->



		</div>
	</section><!-- end of gallery section -->


	<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
	<div id="blueimp-gallery" class="blueimp-gallery">
		<!-- The container for the modal slides -->
		<div class="slides"></div>
		<!-- Controls for the borderless lightbox -->
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
		<ol class="indicator"></ol>
		<!-- The modal dialog, which will be used to wrap the lightbox content -->
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" aria-hidden="true">&times;</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body next"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left prev">
							<i class="glyphicon glyphicon-chevron-left"></i>
							Previous
						</button>
						<button type="button" class="btn btn-primary next">
							Next
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 footer-para">
                    <p>&copy;TELECOM Saint-Etienne All right reserved</p>
                </div>

                <div class="col-xs-6 text-right">
					<a href="https://www.facebook.com/telecomsaintetienne/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/TelecomStE" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/edu/school?id=21197&trk=edu-cp-title"><i class="fa fa-linkedin"></i></a>
					<a href="https://www.google.fr/maps/place/T%C3%A9l%C3%A9com+Saint-%C3%89tienne/@45.4523179,4.3870443,18.08z/data=!4m2!3m1!1s0x47f5a97270997f73:0xc8d67b5196a79919?hl=fr" target="_blank"><i class="fa fa-map-marker"></i></a>
				</div>
            </div>
        </div>
    </footer>
	

	<!-- script tags
	============================================================= -->

	<script src="../public/js/jquery-2.1.1.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>

	<script src="../public/js/bootstrap-toggle.min.js"></script>

	<script src="../public/js/interact.min.js"></script>
	<script src="../public/js/dragAndDrop.js"></script>

	<script src="../public/js/scriptExplorateur.js"></script>

	<!-- Blueimp Gallery-->
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script> <!-- important-->
	<script src="../public/js/blueimp-gallery.js"></script> <!-- important-->
	<script src="../public/js/blueimp-gallery-indicator.js"></script> <!--fonctionnalité pour l'affichage des miniature en bas-->
	<script src="../public/js/jquery.blueimp-gallery.js"></script> <!-- important-->


	<script type="application/javascript">
		$(document).ready(function () {

			$("#buttonDeco").submit(function (event) {
				window.localStorage.clear();
			});
		});
	</script>
	
</body>
</html>