<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PictureInTheBox</title>
    <link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link href="../public/stylesheets/styleExplorateur.css" rel="stylesheet"/>
    <link href="../public/stylesheets/connected.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../public/stylesheets/blueimp-gallery.min.css">
    <link rel="stylesheet" href="../public/stylesheets/blueimp-gallery-indicator.css">

</head>
<body>
<header class="top-header" style="position: static">
    <div class="bs-example">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle for mobile display -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/a">Picture In The Box</a>
                </div>
                <!-- Content of the navbar -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/a">Photos Personelles</a></li>
                        <li class="active"><a href="/partage">Photos Partagées</a></li>
                        <li><a href="/public">Photos Publics</a></li>
                        <li>
                            <form class="form navbar-form" id="formDeco">
                                <button class="btn btn-default" type="submit">Déconnexion</button>
                            </form>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div> <!-- container -->
        </nav>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="test">
                <h1>Explorateur de fichiers</h1>
            </div>
        </div>
    </div>
</section><!-- end of gallery section -->

<section>
    <div class="container" id="affichageImage">
        <div class="row" id="addBtn">

            <ol id="breadcrumb" class="breadcrumb">
                <li id="" class="active">Home</li>
            </ol>
        </div>

        <div class="row">
            <div id="explorateur" class="col-md-8" >

                <div id="foldersRow" class="row">

                </div>

                <div id="imagesRow" class="row">

                </div>
            </div>

            <div id="parametresDossier" class="col-md-4" >
                <h3>Propriétés du dossier : </h3>

                <form class="form-horizontal">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="control-label" for="inom">Nom du dossier :</label>
                            <div class="col-md-10 col-md-offset-1 ">
                                <label id="inom" name="fauteur">titre ici</label>
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="control-label" for="idescription">Description :</label>
                            <div class="col-md-10 col-md-offset-1 ">
                                <label id="idescription" name="fdescription">Description ici</label>
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="control-label" for="itags">Mots clefs :</label>
                            <div class="col-md-10 col-md-offset-1 ">
                                <label id="itags" name="ftags">Liste des tags</label>
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="control-label" for="ipartage">Partager avec :</label>
                            <div class="col-md-10 col-md-offset-1 ">
                                <label id="ipartage" name="fdescription">Liste partage ici</label>
                            </div>
                        </div>



                    </fieldset>
                </form>
            </div>
        </div>



        <!-- service section starts here -->
        <section class="service text-center" id="service">
            <div class="container">
                <div class="row">
                    <!-- The container for the list of example images -->
                    <div id="links"></div>
                    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <!-- The container for the modal slides -->
                        <div class="slides"></div>
                        <!-- Controls for the borderless lightbox -->
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
        </section><!-- end of service section -->
    </div>
</section><!-- end of gallery section -->


<!-- footer starts here -->
<footer class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 footer-para">
                <p>&copy;TELECOM Saint-Etienne All right reserved</p>
            </div>

            <div class="col-xs-6 text-right">
                <a href="https://www.facebook.com/telecomsaintetienne/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/TelecomStE" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/edu/school?id=21197&trk=edu-cp-title" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.google.fr/maps/place/Telecom+Saint+Etienne/@45.4523179,4.3870443,18.08z/data=!4m2!3m1!1s0x47f5a97270997f73:0xc8d67b5196a79919?hl=fr" target="_blank"><i class="fa fa-map-marker"></i></a>
            </div>
        </div>
    </div>
</footer>


<!-- script tags
============================================================= -->

<script src="../public/js/jquery-2.1.1.js"></script>
<script src="../public/js/bootstrap.min.js"></script>

<script src="../public/js/bootstrap-toggle.min.js"></script>

<script src="../public/js/interact.min.js"></script>

<script src="../public/js/scriptExplorateurPartage.js"></script>
<script src="../public/js/signUpIn.js"></script>

<!-- Blueimp Gallery-->
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script> <!-- important-->
<script src="../public/js/blueimp-gallery.js"></script> <!-- important-->
<script src="../public/js/blueimp-gallery-indicator.js"></script> <!--fonctionnalité pour l'affichage des miniature en bas-->
<script src="../public/js/jquery.blueimp-gallery.js"></script> <!-- important-->

</body>
</html>