body {
	background-color: #c2c2c2;
	font: 14px normal Arial, Helvetica, sans-serif;
}


#explorateur{
	background-color: #e2e2e2;
	border-style: solid;
	border-width: 4px 20px 4px 20px;
	border-radius: 10px;
	text-align: center;
}

#parametresDossier{
	text-align: center;
}

#addBtn{
	font-size: 38px;
}

#proprietes{
	text-align: center;
}

img{
	max-width: 100%;
	width: 100%;
	display:block;
	margin: 5px 0 10px 0;
}

.fa-lg {
    font-size: 80px;
    line-height: 100%;
    vertical-align: -15%;
    text-align: center;
	margin-top: 5px;
}

.breadcrumb {background: rgba(245, 245, 245, 0); border: 0px solid rgba(255, 255, 255, 1); border-radius: 0px; display: block;}
.breadcrumb li {font-size: 23px;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(0, 0, 0, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}


.drag-transparent{
	opacity: 0.5;
}

.dropzone {
	border: dashed 4px transparent;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.drop-active {
	border-color: #aaa;
}

.drop-target {
	background-color: #29e;
	border-color: #fff;
	border-style: solid;
}


.drag-drop {
	display: inline-block;
	padding: 0 0.5em;
	color: #fff;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	transition: background-color 0.3s;
}
.drag-drop.can-drop {
	color: #000;
	background-color: #4e4;
}

.footer{
	margin-top: 50px;
}

.modal {
	overflow: auto;
	color: #333;
}

.alert {
	padding: 8px;
	margin-bottom: 0;
	border-radius: 6px;
}